<p id="notice"><%= notice %></p>

<h2 class="center">Classes</h2>
<div class="boxGroup">
  <% @groups.each do |group| %>
  <div class="boxBox">
    <h3>
      <% if group.avatar == nil %>
        <img src="/assets/avatar-default.png" class="miniAvatarImage img-rounded">
      <% else %>
        <img src=<%= group.avatar %> class="miniAvatarImage img-rounded">
      <% end %>
      <%= link_to group.name, group_path(group) %> 
      <small class="pull-right">
        <% if group.instructor %>
          Instructor: <%= group.instructor %>
        <% else %>
          Instructor: <i>No instructor listed</i>
        <% end %>
      </small>
    </h3>
  </div>
  <% end %>
</div>
